<!DOCTYPE html>
<html>
  <head>
    <title>InterviewPennylane</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div id="alert">
        <%= msg if type == 'alert' %>
      </div>
      <div id="notice">
        <%= msg if type == 'notice' %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
